<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LinkedIn_Smoke">


	<listeners>

		<listener class-name="listeners.CustomListeners"></listener>

		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>


	</listeners>


	<test name="Landing Page Test">
		<classes>
			<class name="testcases.ValidateLandingPage" />
		

		</classes>
	</test> 
<!-- 
<parameter name = "username" value = "alimeer.369@yahoo.com"></parameter>
<parameter name = "password" value = "fsdfdsfdsfsdf"></parameter>
 -->
	<test name="Validate Login Test">
		<classes>
				<class name="testcases.ValidateLogin" />

		</classes>
	</test>


</suite>
